.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px;
}
  
.funcionamento {
  background-color: white;
  padding: 40px;
}
  
.title-funcionamento {
  margin-top: 15px;
  margin-bottom: 40px;
}
  
.text-container {
  text-align: center;
  color: grey;
}
  
.cards-first {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
  
.first-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  color: grey;
}
  
.title-processo {
  padding-top: 50px;
}
  
.text-processo {
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 15px;
  color: grey;
}
  
.div-processo {
  background-color: white;
}
  
.container-coluna {
  margin-bottom: 30px;
  margin-left: 35px;
}
  
.text-grey {
  color: grey;
}
  
.text-tour {
  margin-bottom: 20px;
}

.img-painel {
  width: 85%;
  padding: 25px;
}

.img-painel:hover {
  transform: none;
}

.experimente {
  background-color: white;
  padding: 40px;
}

.caso-sucesso {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 35px;
}

.sucesso-text {
  background-color: white;
  padding: 40px;
}
