.primeiraimg {
    background-image: url("https://cdn.pixabay.com/photo/2022/05/17/21/46/metaverse-7203825_960_720.jpg");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.primeira-descricao {
    text-align: justify;
    color: white;
    padding: 130px;
}

.containercases {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.tour {
    background-image: url("../image/tour-360-01.jpg");
    height: 600px;
    text-align:justify;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.laser {
    background-image: url("../image/laser1.jpeg");
    height: 600px;
    text-align:justify;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.realidade {
    background-image: url("../image/realidadevirtual1.jpeg");
    height: 600px;
    text-align:justify;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.simulacoes {
  background-image: url("../image/simulacoesetreinamento1.jpg");
  height: 600px;
  text-align:justify;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aplicativos {
  background-image: url("../image/aplicativos1.jpg");
  height: 600px;
  text-align:justify;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
    background-color: black;
    color: white;
    border-radius: 15px;
    transition: 500ms;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

button:hover {
    transform: scale(1.2);
    background-color: white;
    color: black;
}

.img-principal2 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-principal2:hover {
  transform: none;
}

.container-somos {
  text-align: justify;
}

.title-somos {
  padding: 30px;
}

.text-somos1 {
  padding: 10px;
  margin-left: 20px;
}

.somos {
  display: flex;
}

.img-principal3 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-principal3:hover {
  transform: none;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  background-color: white;
  color: black;
}

.text-container {
  text-align: center;
  color: black;
}

.sub-card:hover {
  border-radius: 10px;
  background-image: linear-gradient(#d8d8c0, #1693a5);
}