.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 130px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.primeira-explicacao {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}
  
.funcionamento {
  background-color: white;
  padding: 40px;
}
  
.title-funcionamento {
  margin-top: 15px;
  margin-bottom: 40px;
}
  
.text-container {
  text-align: center;
  color: grey;
}
  
.cards-first {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
  
.first-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  color: grey;
}
  
.title-processo {
  padding-top: 50px;
}
  
.text-processo {
  padding: 20px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 15px;
  color: grey;
}
  
.div-processo {
  background-color: white;
}
  
.container-coluna {
  margin-bottom: 30px;
}
  
.text-grey {
  color: grey;
}
  
.text-tour {
  margin-bottom: 20px;
}

.experimente {
  background-color: white;
  padding: 20px;
}

.video-simulacao {
  padding-bottom: 30px;
}